# TURN ON REWRITE ENGINE, SO URI MANIPULATION CAN TAKE EFFECT
RewriteEngine On

# SET THE BASE URL FOR THE RULES THAT FOLLOW
RewriteBase /rabit/

# CHECK IF REQUESTED FILE EXISTS ON THE SERVER, PROCEED IF FALSE
RewriteCond %{REQUEST_FILE} !-f

# CHECK IF REQUESTED DIRECTORY EXISTS ON THE SERVER, PROCEED IF FALSE
RewriteCond %{REQUEST_FILE} !-d

# TELLS APACHE TO PASS ALL REQUESTS THAT DO NOT MATCH ANY FILE OR DIRECTORY TO index.php
RewriteRule ^. index.php [L]
